@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('./Components/Home/Home.css');
@import url('./Components/About/About.css');
@import url('./Components/Projects/Projects.css');
@import url('./Components/Contact/Contact.css');

html {
    scroll-behavior: smooth;
}

#root {
    position: relative;
}

body {
    background-color: #0F0F0F;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

nav {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 200px;
    left: 10px;
    gap: 16px;
    z-index: 1;
}

nav a {
    text-decoration: none;
    transition: opacity 0.3s;
}

nav a:hover {
    cursor: pointer;
}

nav a:hover .icon-container {
    background-color: #FF3636;
    justify-content: space-around;
    width: 10vw;
}

.menu-icon {
    color: black;
    font-size: 1.8vw;
}

nav a:hover .menu-icon {
    color: #f9f9f9;
}

.icon-container p {
    display: none;
    color: #f9f9f9;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
}

nav a:hover p {
    display: block;
}

.active-menu:hover .icon-container {
    width: 3.3vw;
}

.active-menu .icon-container {
    background-color: #FF3636;
}

.active-menu .menu-icon {
    color: #f9f9f9;
}

.header {
    position: relative;
    margin:  10vw 0vw 3vw;
}

.title {
    text-align: center;
    margin: 0;
    font-size: 3.12vw;
    text-transform: uppercase;
    color: #F8F7F7;
    font-weight: 300;
}

.divider {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: 0.13vw;
    background-color: #6A6A6A;
    margin-bottom: 3.9vw;
}

footer {
    padding: 1.3vw 0;
}

footer p {
    margin: 0;
    text-align: center;
    font-size: 0.8rem;
    color: #F8F7F7;
}

@media screen and (max-width:900px) {
    nav {
        top: 30px;
        left: 20px;
    }

    nav .icon-container {
        background-color: #D8D3D3;
        justify-content: space-around;
        width: 19vw;
    }

    nav a:active .icon-container {
        background-color: #FF3636;
    }

    .menu-icon {
        font-size: 3.5vw;
    }

    nav a:active .menu-icon {
        color: white;
    }

    .icon-container p {
        display: block;
        color: black;
        font-size: 2.3vw;
    }

    nav a:active p {
        color: white;
    }

    .active-menu:hover .icon-container {
        width: 7vw;
        height: 7vw;
    }

    .active-menu .icon-container {
        width: 7vw;
        height: 7vw;
    }

    .header {
        margin: 20vw 0vw 5vw;
    }

    .title {
        font-size: 4.44vw;
    }

    .divider {
        width: 40vw;
    }

    footer {
        padding: 2.22vw 0;
    }

}

@media screen and (max-width:450px) {
    nav .icon-container {
        width: 22vw;
        justify-content: space-evenly;
    }

    .menu-icon {
        font-size: 5vw;
        margin-left: 5px;
    }

    .icon-container p {
        font-size: 2.3vw;
        font-weight: 600;
    }

    .active-menu:hover .icon-container {
        width: 10vw;
        height: 10vw;
    }

    .active-menu .icon-container {
        width: 10vw;
        height: 10vw;
    }

    .active-menu .menu-icon {
        margin-left: 0;
    }

    .background-text {
        font-size: 12.8vw;
        text-shadow: 1px 1px 1px rgb(167, 167, 167, 0.15);
    }

    .title {
        font-size: 5vw;
        text-shadow: 1px 1px 1px #141414;
    }

    .title::after {
        width: 14vw;
        height: 0.4vw;
    }

    .divider {
        width: 45vw;
        margin-bottom: 6.22vw;
    }

    footer {
        padding: 4.44vw 0;
    }
}